button:not(.deactived) {
  width: 150px;
  height: 35px;
  color: white;
  border: none;
  background-color: #357fc5;
  border-radius: 5px;
  margin-bottom: 2%;
  margin-top: 5%;
  cursor: pointer;
}

button.deactived {
  width: 150px;
  height: 35px;
  color: white;
  border: none;
  background-color: #357fc5;
  border-radius: 5px;
  margin-bottom: 2%;
  margin-top: 5%;
}

.grey-box {
  padding: 5% 10%;
  background-color: lightgrey;
  text-align: center;

  ul {
    text-align: left;
  }
}