button:not(.deactived) {
  width: 150px;
  height: 35px;
  color: white;
  border: none;
  background-color: #357fc5;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 2%;
  cursor: pointer;
}

button.deactived {
  width: 150px;
  height: 35px;
  color: white;
  border: none;
  background-color: #357fc5;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 2%;
}

.grey-box {
  padding: 5% 10%;
  //   width: 100%;
  background-color: lightgrey;
}

// ul,
// li {
//   margin: 0;
//   padding: 0;
// }

// ul {
//   padding-left: 8%;
//   margin-bottom: 5vh;
// }
