.ticket-list {
  border: 2px solid #357fc5;
  border-radius: 10px;
  padding: 0;
  list-style-type: none;

  * {
    transition: 0.7s ease-in-out;
  }

  li {
    padding: 10px;

    span {
      color: grey;
    }


    .ticket-id,
    .ticket-date {
      display: inline-block;
    }

    .ticket-description {}

    .item-and-button {
      background-color: lightgrey;

    }

    .ticket-item {
      height: 0;
      display: none;
    }

    .ticket-item.expanded {
      height: auto;
      display: block;
    }

    button {
      width: 150px;
      height: 40px;
      text-align: left;
      margin: 1% 0;
      color: white;
      border: none;
      background-color: #60a0dd;
      border-radius: 5px;
      font-size: .8em;
      text-align: center;
      transition: background-color 0.2s, color 0.2s;

      &:hover {
        cursor: pointer;
        background-color: #8dbfee;
        color: #000;
      }
    }

    .delete {
      background-color: #ff4040;

      &:hover {
        background-color: #fd7979;
        color: #000;
      }
    }

    .archive {
      background-color: #57c260;

      &:hover {
        background-color: #5ff16c;
        color: #000;
      }
    }

  }

  li:not(li:last-child) {
    border-bottom: 2px solid #357fc5;
  }
}
