.ticket-list {
  border: 2px solid #357fc5;
  border-radius: 10px;
  padding: 0;
  list-style-type: none;

  li {
    padding: 10px;

    div, .archive, .delete {
      margin: 10px;
    }

    span {
      color: grey;
    }


    .ticket-id,
    .ticket-date {
      display: inline-block;
    }

    .ticket-item {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s, padding 0.5s;
      display: block;
      border-color: #60a0dd;
      border-style: solid;
      border-width: 0 0 0 3px;
      padding: 0 0 0 15px;
      background-color: lightgrey;
      margin: 0 10px 0 10px;
    }

    .ticket-item.expanded {
      max-height: 100px;
      display: block;
      border-style: solid;
      border-width: 0 0 0 3px;
      padding: 5px 0 5px 15px;
      margin: 0 10px 0 10px;
    }

    button {
      width: 150px;
      height: 40px;
      text-align: left;
      color: white;
      border: none;
      background-color: #60a0dd;
      border-radius: 5px;
      font-size: .8em;
      text-align: center;
      transition: background-color 0.15s, color 0.15s;

      &:hover {
        cursor: pointer;
        background-color: #8dbfee;
        color: #000;
      }
    }

    .delete {
      background-color: #ff4040;

      &:hover {
        background-color: #fd7979;
        color: #000;
      }
    }

    .archive {
      background-color: #45994c;

      &:hover {
        background-color: #5ff16c;
        color: #000;
      }
    }

  }

  li:not(li:last-child) {
    border-bottom: 2px solid #357fc5;
  }
}

form {
  button {
    margin-left: 15px;
  }
}
