header{
    display: flex;
    align-items: center;

    a.logo {
        display: flex;
        align-items: center;
        font-size: 1.3em;
        width: 25%;

        img#siteLogo {
            position: relative;
            z-index: 1;
            width: 50px;
            height: auto;
            margin-right: 10px;
        }
    }

    nav {
        margin-top: -38px;

        ul{
            li {
                &.search {
                    width: 215px;
                    form {
                        svg{ 
                            padding-top: 5px;
                        }
                    }
                }

                input {
                    position: relative;
                    float: left;
                    border-radius: 5px;
                    border: 1px solid grey;
                    padding-left: 5px;
                    margin-left: 3%;
                    height: 25px;
                }


                svg {
                    position: relative;
                    float: left;

                    path, ellipse, circle {
                        fill:black;
                    }
                }

                a.profile {
                    svg {
                        margin-top: -24px;
                        padding-top: 16px;
                    }
                }

                &:hover {
                    .profile {
                        svg {
                            path, ellipse {
                                fill-opacity: .65;
                            }
                        } 
                    }
                }
            }
        }
    }
}