<div class="search">
    <form id="searchInput" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <select formControlName="selectedFilter" id = "filter">
            <option [ngValue] = null hidden>Search By</option>
            <option *ngFor = "let o of searchFilterOptions" [ngValue] = "o">
                {{o}}
            </option>
        </select>
        <input type="text" id="pgSearch" name="pgSearch" formControlName="search" placeholder='Search'>
    </form>
</div>
<div class="DetailSearching">
    <button *ngIf = "regularSearching" (click)= "detailedState()" class="buttonDetail">Click for Detailed Search</button>
    <div class="detailedSearch" *ngIf = "detailedSearching">
        <form id = "detailSearch" [formGroup] = "detailForm" (ngSubmit) = "detailedSearch()">
            <label>Tag</label>
            <input type="text" id="tagFilter" name="tagFilter" formControlName="tagFilter" >
            <label>Actor</label>
            <input type="text" id="actorFilter" name="actorFilter" formControlName="actorFilter" >
            <label>Director</label>
            <input type="text" id="directorFilter" name="directorFilter" formControlName="directorFilter" >
            <label>Genre</label>
            <input type="text" id="genreFilter" name="genreFilter" formControlName="genreFilter" >
            <label>Language</label>
            <input type="text" id="languageFilter" name="languageFilter" formControlName="languageFilter" >
            <label>Rating</label>
            <input type="text" id="ratingFilter" name="ratingFilter" formControlName="ratingFilter" >
            <button type="submit" class = "buttonDetail">Search</button>
        </form>
        <a (click) = "regularState()" class ="cancel">Cancel</a>
    </div>
</div>


 
<h1>Results for "{{searchTerm}}"</h1>
<ul *ngIf="searches">
    <li *ngFor="let search of searches">
        <div class="image">
            <img src="{{search.Poster}}" routerLink="/movie/{{search.imdbID}}" alt="Movie Poster">
        </div>
        <p class="name">{{ search.Title }}</p>
        <p class="year">{{ search.Year }}<span *ngIf="search.Year.substring(search.Year.length - 1)=='–'">present</span></p>
        <p class="id">{{ search.imdbID }}</p>
    </li>
</ul>
<ul *ngIf="searches2">
    <li *ngFor="let search of searches2">
        <div class="image">
            <img src="{{search.Poster}}" routerLink="/movie/{{search.imdbID}}" alt="Movie Poster">
        </div>
        <p class="name">{{ search.Title }}</p>
        <p class="year">{{ search.Year }}<span *ngIf="search.Year.substring(search.Year.length - 1)=='–'">present</span></p>
        <p class="id">{{ search.imdbID }}</p>
    </li>
</ul>
<ul *ngIf = "resultMovies">
    <li *ngFor="let search of resultMovies">
        <div class="image">
            <img src="{{search.posterURL}}" routerLink="/movie/{{search.imdbId}}" alt="Movie Poster">
        </div>
        <p class="name">{{ search.title }}</p>
        <p class="year">{{ search.releaseDate | date: "yyyy" }}</p>
    </li>
</ul>

<div class="pages" *ngIf = "titleSearching">
    <a href="/list/{{searchTerm}}/{{prevPg}}" class="prev" *ngIf="prevPg>0">Previous Page</a>
    <a href="/list/{{searchTerm}}/{{nextPg}}" class="next" *ngIf="nextPg<76">Next Page</a>
</div>





