.search {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10vh;
    #filter{
        text-decoration: none;
        width: 98px;
        padding-left: 10px;
        border: 1px solid grey;
        background-color: #E1E1E1;
        border-radius: 5px 0 0 5px;
        margin-left: 97px;
        margin-right: -97px;
        z-index: 1;
    }

    #searchInput{
        width: 100%;
        display: flex;
        justify-content: center;

        #pgSearch {
            width: 50%;
            border-radius: 5px;
            height: 35px;
            border: 1px solid grey;
            padding-left: 105px;
            font-size: 1.1em;
        }
    }
}

ul{
    list-style-type: none ;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li{
       padding: 1em;
       width: 15%;
       height: auto;
       margin-bottom: 1em;
       display: flex;
       flex-direction: column;

       div.image {
           min-height: 250px;
           display: flex;
           align-items: center;
           margin-bottom: 10px;

           img {
               cursor: pointer;
               width: 100%;
           }
       }

       p{
           margin: 0;
           font-weight:bold;
           font-size: 1.2rem;
       }

       p.name{
           font-weight: bold;
           font-size: 1.2rem;
           text-transform: uppercase;
       }
       p.year{
           font-size: .9rem;
           flex-grow: 1;
       }
       p.id {
           display: none;
       }

    }

    li:not(:last-child) {
        margin-right: 20px;
    }
}

.pages {
    margin-bottom: 10%;
    padding-top: 5%;

    .prev {
        float: left;
        width: 200px;
        height: 50px;
        font-weight: bold;
        color: white;
        text-decoration: none;
        border: 2px outset #357fc5;
        background-color: #357fc5;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        a:active {
            background-color: #336da3;
        }
    }

    .next {
        float: right;
        width: 200px;
        height: 50px;
        font-weight: bold;
        color: white;
        text-decoration: none;
        border: 2px outset #357fc5;
        background-color: #357fc5;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2.5%;

        a:active {
            background-color: #336da3;
        }
    }
}

.DetailSearching{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    .detailedSearch{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 25%;

        #detailSearch{
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .input{
                width: 5rem;
            }

            #ratingFilter {
                margin-bottom: 25px;
            }

            button {
                height: 25px;
                width: 120%;
                margin-left: -10%;
            }
        }

        a.cancel {
            text-decoration: underline;
            font-size: .8em;
            margin-top: 5px;

            &:hover {
                cursor: pointer;
            }
        }
    }


    .buttonDetail{
        float: left;
        width: 200px;
        height: 50px;
        font-weight: bold;
        color: white;
        text-decoration: none;
        border: 2px outset #357fc5;
        background-color: #357fc5;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        a:active {
            background-color: #336da3;
        }
    }
}
