<div class="head">
    <div class="headleft">
        <h2>{{movieTitle}} Discussions</h2>
        <label>Sort:</label>
        <button class="first" (click)="sortByRecent()" [class.selected]="activitySort">Recent Activity</button>
        <button (click)="creationSortNext()" [class.selected]="createdSort">Created {{createdSortDirection}} </button>
        <button (click)="commentsSortNext()" [class.selected]="commentsSort">Comments {{commentsSortDirection}}</button>
        <button class="last" (click)="likeSortNext()" [class.selected]="likesSort">Likes {{likesSortDirection}}</button>

        <label>Filter:</label> 
        <select id="topics" name="topic" [(ngModel)]="selectedFilter" (change)="onChangeFilter()">
            <option value="" default hidden></option>
            <option *ngFor="let t of topics" [ngValue]="t.topicId">{{t.topicName}}</option>
        </select>
    </div>

    <div class="headright">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon"  (keyup)="searchDiscussion()" placeholder="Search Discussions"><br>
        <button (click)="displayPostDiscussion = true" class="createDiscussion" >Create New Discussion</button>
    </div>
</div>


<div *ngIf="displayPostDiscussion" class="postDiscussion">
    <h4>Create New Discussion</h4>
    <form>
        <label>Topic: </label><br>
        <select name="rating" id="rating" [(ngModel)]="submitDiscussion.topic" [ngModelOptions]="{standalone: true}">
            <option selected hidden disabled></option>
            <option *ngFor="let topic of topics"
                    [value]="topic.topicName">
                    {{topic.topicName}}
            </option>
        </select><br>
        <label>Discussion Subject:</label><br>
        <input type="text" [(ngModel)]="submitDiscussion.subject" [ngModelOptions]="{standalone: true}"><br>
        <button type="reset" (click)="postDiscussion()">Submit Discussion</button>
    </form>
</div>
<div *ngIf="filterlist.length != 0" class="discussionList">
    <ul *ngFor="let discussion of filterlist">
        <li>
            <div class="wrapper">
                <div class="right">
                    <a routerLink="/discussion/{{discussion.discussionId}}">
                        {{discussion.subject}}
                    </a>
                    <br>
                    <button *ngFor="let dt of discussion.discussionTopics">
                        <label *ngFor="let t of topics" >
                            <span *ngIf="t.topicId == dt">{{t.topicName}} </span>
                        </label>
                        
                    </button>
                </div>
                <div class="left">
                    <label class="username">{{discussion.userid}}</label> <br>
                    <label class="comments">Replies: {{discussion.comments.length}}</label>
                    <label class="likes">Likes: {{ discussion.likes}}</label> 
                </div>
            </div>

        </li>
    </ul>
</div>

<div *ngIf="filterlist.length == 0" class="discussionList">
    <ul *ngFor="let discussion of discussions">
        <li>
            <div class="wrapper">
                <div class="right">
                    <a routerLink="/discussion/{{discussion.discussionId}}">
                        {{discussion.subject}}
                    </a>
                    <br>
                    <button *ngFor="let dt of discussion.discussionTopics">
                        <span *ngFor="let t of topics" >
                            <span *ngIf="t.topicId == dt">{{t.topicName}} </span>
                        </span>
                    </button>
                </div>
                <div class="left">
                    <label class="username">{{discussion.userid}}</label> <br>
                    <label class="comments">Replies: {{discussion.comments.length}}</label>
                    <label class="likes">Likes: {{ discussion.likes}}</label> 
                </div>
            </div>

        </li>
    </ul>
</div>

<button *ngIf="1<pageNum" (click)="onPrev()">Previous</button>
<button *ngIf="numOfDiscussion > (pageNum*10)" (click)="onNext()">Next</button>