<h3>{{movieTitle}} Discussions</h3>
<div>
    Sort:
    <button *ngIf="!createdBth" (click)="sortByCreationB()">Created &#9660; </button>
    <button *ngIf="createdBth" (click)="sortByCreationA()">Created &#9650;</button>
    <button *ngIf="!commentsBtn" (click)="sortDiscussionsByCommentsDesc()">Comments &#9660;</button>
    <button *ngIf="commentsBtn" (click)="sortDiscussionsByCommentsAsc()">Comments &#9650;</button>
    <button *ngIf="!likesBtn" (click)="sortByLikeD()">Likes &#9660;</button>
    <button *ngIf="likesBtn" (click)="sortByLikeA()">Likes &#9650;</button>
    <button (click)="sortByRecent()">Activity &#9660;</button>
  
         Filter: 
        <select id="topics" name="topic" [(ngModel)]="selectedFilter" (change)="onChangeFilter()">
            <option value=""></option>
            <option *ngFor="let t of topics" [ngValue]="t.topicId">{{t.topicName}}</option>
        </select>

    
        <label id="myInput">Discussion: </label>
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon"  (keyup)="searchDiscussion()" placeholder="Search for Discussion...">
    <button (click)="displayPostDiscussion = true" class="creatDiscussio" >Create New Discussion</button>


<div *ngIf="displayPostDiscussion" class="psotDiscussion">
    <h4>Create New Discussion</h4>
    <form>
        <label>Topic: </label><br>
        <select name="rating" id="rating" [(ngModel)]="submitDiscussion.topic" [ngModelOptions]="{standalone: true}">
            <option selected hidden disabled></option>
            <option *ngFor="let topic of topics"
                    [value]="topic.topicName">
                    {{topic.topicName}}
            </option>
        </select><br>
        <label>Discussion Subject:</label><br>
        <input type="text" [(ngModel)]="submitDiscussion.subject" [ngModelOptions]="{standalone: true}"><br>
        <button type="reset" (click)="postDiscussion()">Submit Discussion</button>
    </form>
</div>
<div *ngIf="filterlist.length != 0" class="discussionList">
    <ul *ngFor="let discussion of filterlist">
        <li>
            <div class="wrapper">
                <div class="right">
                    <a routerLink="/discussion/{{discussion.discussionId}}">
                        {{discussion.subject}}
                    </a>
                    <br>
                    <button *ngFor="let dt of discussion.discussionTopics">
                        <label *ngFor="let t of topics" >
                            <span *ngIf="t.topicId == dt">{{t.topicName}} </span>
                        </label>
                        
                    </button>
                </div>
                <div class="left">
                    <label class="username">{{discussion.userid}}</label> <br>
                    <label class="comments">Replys: {{discussion.comments.length}}</label>
                    <label class="likes">Likes: {{ discussion.likes}}</label> 
                </div>
            </div>

        </li>
    </ul>
</div>

<div *ngIf="filterlist.length == 0" class="discussionList">
    <ul *ngFor="let discussion of discussions">
        <li>
            <div class="wrapper">
                <div class="right">
                    <a routerLink="/discussion/{{discussion.discussionId}}">
                        {{discussion.subject}}
                    </a>
                    <br>
                    <button *ngFor="let dt of discussion.discussionTopics">
                        <span *ngFor="let t of topics" >
                            <span *ngIf="t.topicId == dt">{{t.topicName}} </span>
                        </span>
                    </button>
                </div>
                <div class="left">
                    <label class="username">{{discussion.userid}}</label> <br>
                    <label class="comments">Replys: {{discussion.comments.length}}</label>
                    <label class="likes">Likes: {{ discussion.likes}}</label> 
                </div>
            </div>

        </li>
    </ul>
</div>

<button *ngIf="1<pageNum" (click)="onPrev()">Previous</button>
<button *ngIf="numOfDiscussion > (pageNum*10)" (click)="onNext()">Next</button>