<div *ngIf="this.isNewUser" class="screen-cover">
  <div class="new-user-popup">
    <form action="" class="update" [formGroup]="newUserForm" (ngSubmit)="updateUser(true)">
      <h2>Please enter your information</h2>
      <label for="newusernameControl1">Username</label>
      <input formControlName="newusernameControl" type="text" name="newusernameControl1"
        [(ngModel)]="editedUser.username" required [ngClass]="{
          'wrong':newusernameControl.invalid && (newusernameControl.dirty || newusernameControl.touched),
          'correct':newusernameControl.valid && (newusernameControl.dirty || newusernameControl.touched)
        }"><br>
      <label for="newfirstNameControl1">First Name</label>
      <input formControlName="newfirstNameControl" type="text" name="newfirstNameControl1"
        [(ngModel)]="editedUser.firstname" required [ngClass]="{
          'wrong':newfirstNameControl.invalid && (newfirstNameControl.dirty || newfirstNameControl.touched),
          'correct':newfirstNameControl.valid && (newfirstNameControl.dirty || newfirstNameControl.touched)
        }"><br>
      <label for="newlastNameControl1">Last Name</label>
      <input formControlName="newlastNameControl" type="text" name="newlastNameControl1"
        [(ngModel)]="editedUser.lastname" required [ngClass]="{
          'wrong':newlastNameControl.invalid && (newlastNameControl.dirty || newlastNameControl.touched),
          'correct':newlastNameControl.valid && (newlastNameControl.dirty || newlastNameControl.touched)
        }"><br>
      <label for="newdateofbirthControl1">Date of Birth</label>
      <input formControlName="newdateofbirthControl" type="date" name="newdateofbirthControl1"
        [(ngModel)]="editedUser.dateofbirth" required [ngClass]="{
          'wrong':newdateofbirthControl.invalid && (newdateofbirthControl.dirty || newdateofbirthControl.touched),
          'correct':newdateofbirthControl.valid && (newdateofbirthControl.dirty || newdateofbirthControl.touched)
        }"><br>
      <p *ngIf="!newUserForm.valid && newUserForm.touched">Please fill in all the fields</p>
      <input type="Submit" (submit)="updateUser(true)">
    </form>
  </div>
</div>
<div class="leftmovie">
  <h3>Movies</h3>
  <div *ngIf="moviesAreLoaded; then thenMBlock else elseMBlock"></div>
  <ng-template #thenMBlock>
    <div *ngIf="userMovies.length">
      <ul class="movies">
        <li *ngFor="let movie of userMovies">
          <div class="image">
            <img src="{{movie.Poster}}" routerLink="/movie/{{movie.imdbID}}" alt="Movie Poster">
          </div>
          <p class="name">{{ movie.Title }}</p>
          <p class="year">{{ movie.Year }}<span *ngIf="movie.Year.substring(movie.Year.length - 1)=='–'">present</span>
          </p>
          <p class="id">{{ movie.imdbID }}</p>
        </li>
      </ul>
    </div>
    <div *ngIf="!userMovies.length">
      <h4 class="missing">No Favorited Movies</h4>
    </div>
  </ng-template>
  <ng-template #elseMBlock>
    <h4>Loading Movies . . .</h4>
  </ng-template>
</div>

<div class="right">
  <button (click)="authLogout()" class="logout-button">Logout</button>
  <form class="update">
    <h3>Your Info</h3>
    <div class="container" (ngSubmit)="updateUser()">
      <label for="uname">Email</label>
      <p>{{editedUser.email}}</p>
      <input *ngIf="false" type="text" [(ngModel)]="editedUser.email" [ngModelOptions]="{standalone: true}"
        required><br>
      <label for="uname">Username</label>
      <p *ngIf="!userIsEditable">{{editedUser.username}}</p>
      <input *ngIf="userIsEditable" type="text" [(ngModel)]="editedUser.username" [ngModelOptions]="{standalone: true}"
        required><br>
      <label for="uname">First Name</label>
      <p *ngIf="!userIsEditable">{{editedUser.firstname}}</p>
      <input *ngIf="userIsEditable" type="text" [(ngModel)]="editedUser.firstname" [ngModelOptions]="{standalone: true}"
        required><br>
      <label for="uname">Last Name</label>
      <p *ngIf="!userIsEditable">{{editedUser.lastname}}</p>
      <input *ngIf="userIsEditable" type="text" [(ngModel)]="editedUser.lastname" [ngModelOptions]="{standalone: true}"
        required><br>
      <label for="uname">Date of Birth</label>
      <p *ngIf="!userIsEditable">{{editedUser.dateofbirth}}</p>
      <input *ngIf="userIsEditable" type="date" [(ngModel)]="editedUser.dateofbirth"
        [ngModelOptions]="{standalone: true}" required><br>
      <button *ngIf="!userIsUpdating && !userIsEditable" (click)="editUser()">Edit Profile</button>
      <a *ngIf="userIsEditable" (click)="cancelUpdate()">Cancel Changes</a>
      <input *ngIf="!userIsUpdating && userIsEditable" type="Submit" (click)="updateUser(true)">
    </div>
  </form>
</div>

<div class="left">
  <h3>Reviews</h3>
  <div *ngIf="reviewsAreLoaded; then thenRBlock else elseRBlock"></div>
  <ng-template #thenRBlock>
    <div *ngIf="userReviews.length">
      <ul class="reviews">
        <li *ngFor="let review of userReviews">
          <p class="rating">Score: {{ review.score}}</p>
          <!-- <a routerLink="/user/{{review.usernameid}}" class="username">{{ review.username}}</a> -->
          <a class="username">{{ review.usernameid}}</a>
          <p>{{ review.review}}</p>
        </li>
      </ul>
    </div>
    <div *ngIf="!userReviews.length">
      <h4 class="missing">No Reviews</h4>
    </div>
  </ng-template>
  <ng-template #elseRBlock>
    <h4>Loading Reviews . . .</h4>
  </ng-template>

  <h3>Discussions</h3>
  <div *ngIf="discussionsAreLoaded; then thenDBlock else elseDBlock"></div>
  <ng-template #thenDBlock>
    <div *ngIf="userDiscussions.length">
      <ul class="discussions">
        <li *ngFor="let discussion of userDiscussions">
          <a routerLink="/user/{{discussion.userid}}" class="username">{{ discussion.userid }}</a>
          <!-- <p *ngIf="discussion.topic != 'None'" class="topic">Topic: {{ discussion.topic}}</p> -->
          <div routerLink="/discussion/{{discussion.discussionid}}" class="discussionsubject">{{ discussion.subject}}
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="!userDiscussions.length">
      <h4 class="missing">No Discussions</h4>
    </div>
  </ng-template>
  <ng-template #elseDBlock>
    <h4>Loading Discussions . . .</h4>
  </ng-template>

  <h3>Comments</h3>
  <div *ngIf="commentsAreLoaded; then thenCBlock else elseCBlock"></div>
  <ng-template #thenCBlock>
    <div *ngIf="userComments.length">
      <ul class="comments">
        <li *ngFor="let comment of userComments">
          <div class="commentContent">
            <!-- <a routerLink="/user/{{comment.userid}}" class="username">{{ comment.username }}</a> -->
            <a class="username">{{ comment.userid }}</a>
            <div routerLink="/discussion/{{comment.discussionid}}" class="commenttext">{{comment.text}}</div>
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="!userComments.length">
      <h4 class="missing">No Comments</h4>
    </div>
  </ng-template>
  <ng-template #elseCBlock>
    <h4>Loading Comments . . .</h4>
  </ng-template>

  <h3>Recommended Movies</h3>
  <a routerLink="/recommended">Show More Recommended Movies</a>
  <!-- <app-recommendations></app-recommendations> -->

  <h3>Notifications</h3>
  <div *ngIf="notificationsAreLoaded; then thenNBlock else elseNBlock"></div>
  <ng-template #thenNBlock>
    <div *ngIf="userNotifications.length">
      <ul class="comments">
        <li *ngFor="let notification of userNotifications">
          <div *ngIf="!isCreatorNull(notification)">
            <span>User {{notification.creatorUsername}} that you follow has created a&nbsp;</span>
            <span *ngIf="notification.fromService=='c'">Comment

              <div *ngIf="notification.item" class="commentContent">
                <a routerLink="/user/{{notification.item.username}}"
                  class="username">{{ notification.item.username }}</a>
                <div routerLink="/discussion/{{notification.item.discussionid}}" class="commenttext">
                  {{notification.item.text}}
                </div>
              </div>
            </span>
            <span *ngIf="notification.fromService=='r'">Review

              <div *ngIf="notification.item">
                <p class="rating">{{ notification.item.rating}}</p>
                <!-- <a routerLink="/user/{{notification.item.username}}" class="username">{{ notification.item.usernameid}}</a> -->
                <a class="username">{{ notification.item.usernameid}}</a>
                <p>{{ notification.item.review}}</p>
              </div>

            </span>
            <span *ngIf="notification.fromService=='d'">Discussion

              <div *ngIf="notification.item" routerLink="/discussion/{{notification.item.discussionid}}"
                class="discussionsubject">
                {{ notification.item.subject}}
              </div><br>
            </span>
          </div>
          <div *ngIf="isCreatorNull(notification)">
            <div *ngIf="notification.fromService=='c'">
              A Discussion that you followed has a new Comment

              <div *ngIf="notification.item" class="commentContent">
                <a routerLink="/user/{{notification.item.username}}"
                  class="username">{{ notification.item.username }}</a>
                <div routerLink="/discussion/{{notification.item.discussionid}}" class="commenttext">
                  {{notification.item.text}}</div>
              </div>
            </div>
            <div *ngIf="notification.fromService=='r'">
              A Movie that you followed has a new Review

              <div *ngIf="notification.item">
                <p class="rating">{{ notification.item.rating}}</p>
                <!-- <a routerLink="/user/{{notification.item.username}}" class="username">{{ notification.item.usernameid}}</a> -->
                <a class="username">{{ notification.item.usernameid}}</a>
                <p>{{ notification.item.review}}</p>
              </div>
            </div>
            <div *ngIf="notification.fromService=='d'">
              A Movie that you followed has a new Discussion

              <!-- <a routerLink="/user/{{discussion.username}}" class="username">{{ discussion.username }}</a> -->
              <!-- <a class="username">{{ discussion.username }}</a> -->
              <div *ngIf="notification.item" routerLink="/discussion/{{notification.item.discussionid}}"
                class="discussionsubject">
                {{ notification.item.subject}}
              </div><br>
            </div>
          </div>
          <button (click)="deleteNotification(notification)" class="delete-not">Delete</button>
        </li>
      </ul>
    </div>
    <div *ngIf="!userNotifications.length">
      <h4 class="missing">No Notifications</h4>
    </div>
  </ng-template>
  <ng-template #elseNBlock>
    <h4>Loading Notifications . . .</h4>
  </ng-template>
</div>
